main {
	position: relative;
}

.bg-pattern {
	z-index: -1;
	position: absolute;

	height: 85vh;

	background: linear-gradient(
		223deg,
		$color-magenta-light 0%,
		$color-violet-light 60%
	);

	&--left {
		width: rem(430);
		left: rem(-240);
		top: rem(-200);

		border-bottom-left-radius: 200% 120%;
		border-bottom-right-radius: 200% 120%;

		@include desktop-sm {
			width: rem(420);
			left: rem(-50);
			top: 0;
		}
	}

	&--right {
		opacity: 0.02;
		width: rem(600);
		right: rem(-420);
		bottom: rem(-100);

		border-top-left-radius: 200% 120%;
		border-top-right-radius: 200% 120%;

		background-size: cover;

		@include desktop-sm {
			bottom: 0;
			right: rem(-240);
		}
	}
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: rem(64) 0;

	width: 84%;
	margin: 0 auto;

	@include desktop-sm {
		flex-direction: row;
		justify-content: space-between;

		width: 60%;
		margin: 0 auto;
		min-height: 100vh;

		padding: 0;
	}
}

.description {
	margin-top: rem(64);
	text-align: center;

	h1 {
		margin-bottom: rem(24);
		font-size: rem(40);
		font-weight: 500;
		color: $color-violet-dark;
	}

	p {
		line-height: rem(28);
	}

	@include desktop-sm {
		width: 52%;
		margin-top: 0;
		text-align: left;
	}
}

.mobile {
	position: relative;
	width: rem(250);
	min-height: rem(450);
	padding-bottom: 1rem;

	border: rem(12) solid #fff;
	border-radius: rem(32);

	background-color: $mobile-color-background;
	box-shadow: 0px 0px 14px 2px rgb(0, 0, 0, 0.1);

	overflow: hidden;

	@include desktop-sm {
		width: rem(280);
		height: rem(550);
	}

	&__notch {
		width: rem(125);
		min-height: rem(40);
		background-color: #fff;

		position: absolute;
		top: rem(-20);
		left: 0;
		right: 0;
		margin: auto;

		border-radius: rem(15);
	}

	&__header {
		padding: 1rem 1rem 0;
		width: 100%;
		height: rem(70);

		border-radius: rem(5);

		background: linear-gradient(
			-90deg,
			$color-magenta-light 0%,
			$color-violet-light 100%
		);

		display: flex;
		align-items: center;
		justify-content: space-between;

		div:first-child {
			display: flex;
			align-items: center;
			gap: rem(8);
		}

		font-size: rem(12);

		color: $color-white;

		&-avatar {
			width: rem(25);
			border-radius: 50%;
			border: 1px solid #fff;
		}

		&-profile {
			p {
				color: $color-white;
			}
			span {
				font-weight: 300;
				font-size: rem(9);
				color: $color-pink-light;
			}
		}

		&-menu::after {
			content: '\2807';
			font-size: rem(16);
		}
	}

	.chat {
		padding: 0 rem(10);

		&__text {
			font-size: rem(8);
			font-weight: 400;

			width: 65%;
			padding: rem(10);
			margin: rem(10) 0;
			border-radius: rem(12);

			@include desktop-sm {
				width: 55%;
			}

			&--left {
				color: $color-violet;
				background-color: rgba($color-pink-light, 0.2);
				border-bottom-left-radius: rem(6);
			}

			&--right {
				width: fit-content;
				max-width: 65%;
				background: #fff;
				border-bottom-right-radius: rem(6);
				box-shadow: 0px 5px 10px -4px rgb(0, 0, 0, 0.1);
				margin-bottom: 0;
				margin-left: auto;

				@include desktop-sm {
					max-width: 55%;
				}
			}
		}

		&__picture {
			margin-top: 1rem;
			display: flex;
			justify-content: flex-end;
			gap: rem(8);

			img {
				width: 40px;
				height: 40px;
				border-radius: rem(10);
			}
		}

		&__option {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: rem(8);

			width: 80%;
			padding: rem(12) rem(10);
			margin-bottom: rem(10);

			background: linear-gradient(
				90deg,
				$color-magenta-light 0%,
				$color-violet-light 100%
			);

			border-radius: rem(12);

			&--right {
				border-bottom-left-radius: rem(6);
			}

			&-description {
				display: flex;
				align-items: center;
				gap: rem(10);
				color: #fff;
				opacity: 0.8;
				font-weight: 200;
			}

			&-circle {
				width: rem(14);
				height: rem(14);
				border-radius: 50%;
				border: 1px solid hsl(289, 100%, 72%);
				font-size: 0;
			}

			&-value {
				color: $color-white;
				font-size: rem(14);
				font-weight: 500;
				margin-right: rem(8);
			}
		}

		&__form {
			position: relative;
			input {
				width: 100%;
				padding: rem(10) rem(10) rem(10) rem(20);
				border: none;
				border-radius: rem(50);

				color: $color-gray-light;

				&::placeholder {
					font-size: rem(11);
					color: $color-placeholder;
				}
			}

			button {
				cursor: pointer;
				position: absolute;
				right: rem(5);
				top: 14%;

				width: rem(25);
				height: rem(25);

				border: none;
				border-radius: 50%;
				background-color: $color-violet-dark;

				color: #fff;
				font-weight: 800;
			}
		}
	}
}

.arrow {
	border: solid $color-white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin-left: -2px;

	&--right {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}

	&--left {
		border-width: 0 2px 2px 0;
		padding: 3px;
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
	}
}
