$color-pink-light: hsl(276, 100%, 81%);
$color-pink-dark: hsl(271, 15%, 43%);

$color-magenta-light: hsl(293, 100%, 63%);

$color-violet-light: hsl(264, 100%, 61%);
$color-violet: hsl(276, 55%, 52%);
$color-violet-dark: hsl(271, 36%, 24%);

$color-gray-light: hsl(270, 7%, 64%);

$color-placeholder: hsl(206, 6%, 79%);

$color-white: hsl(0, 0%, 100%);

$mobile-color-background: hsl(270, 20%, 96%);

$desktop-sm: 768px;
